.md-alert {
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 2px;

  &.md-primary {
    background-color: $primary-color;
    color: #fff;
  }
  &.md-success {
    background-color: $success-color;
    color: #fff;
  }
  &.md-warning {
    background-color: $warning-color;
    color: #fff;
  }
  &.md-danger {
    background-color: $danger-color;
    color: #fff;
  }
}
.md-alert-close {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: -10px;

  color: #fff;
}
