.modal-open {
  overflow: hidden;
}
.md-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33,33,33,.48);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}
.md-modal {
  position: relative;
  background-color: #fff;
  box-shadow: $z-level-1;
  width: 600px;
  max-width: 80%;
  border-radius: 2px;
  z-index: 1001;
}
.md-modal-title {
  padding: 24px;
  font-size: 26px;
  border-bottom: 1px solid #ddd;
}
.md-modal-body {
  padding: 24px;
  font-size: 16px;
}
.md-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: -8px;

  @media (max-width: 767px) {
    top: 12px;
    right: 12px;
  }
}
.modal-enter-active, .modal-leave-active {
  transition: opacity .4s cubic-bezier(0.25,0.8,0.25,1);

  .md-modal {
    transition: transform .4s cubic-bezier(0.25,0.8,0.25,1);
  }
}
.modal-enter, .modal-leave-active {
  opacity: 0;

  .md-modal {
    transform: scale(.5);
  }
}
