.md-tooltip {
  position: fixed;
  z-index: 100;
  overflow: hidden;
  border-radius: 4px;
  font-weight: 500;
  background-color: #212121;
  color: #fff;
  padding: 5px;
  max-width: 250px;
  font-size: 12px;
  opacity: 1;

  transition: opacity .2s;

  .md-icon {
    font-size: 12px;
    line-height: inherit;
    width: auto;
    height: auto;
  }
}
