
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


// MATERIAL
$primary-color: #0069cb;
$success-color: #43A047;
$warning-color: #FF9800;
$danger-color: #f7412d;
$disabled-color: #d9d9d9;


// VUEJS MATERIAL

// Breakpoints
$breakpoint-lg: 1200px;
$breakpoint-lg-max: $breakpoint-lg - 1;
$breakpoint-md: 992px;
$breakpoint-md-max: $breakpoint-md - 1;
$breakpoint-sm: 768px;
$breakpoint-sm-max: $breakpoint-sm - 1;

// Box shadow
$z-level-0: none;
$z-level-1: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
$z-level-2: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.4);
$z-level-3: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.4);
$z-level-4: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.4);
$z-level-5: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.4);

// Buttons
$button-flat-hover-bg: rgba(158,158,158,0.2);

// Radio
$checkbox-border-color: $primary-color;

// Checkbox
$checkbox-border-color: $primary-color;

// Input Borders
$md-input-label-color: #9e9e9e;
$md-input-border-color: #9e9e9e;

// Tabs
$md-tabs-background: #2196f3;
$md-tabs-indicator: #e91e63;
