
// Fonts
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html {
  font-size: 10px;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 14px;
  background-color: whitesmoke;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Assets
@import "/css/flexframe.css";
@import "node_modules/flatpickr/dist/flatpickr.material_blue.min";

@import "components/variables";

// Components
@import 'components/ripple';
@import 'components/typography';
@import 'components/button';
@import 'components/icon';
@import 'components/chip';
@import 'components/widget';
@import 'components/alert';
@import 'components/input';
@import 'components/radio';
@import 'components/checkbox';
@import 'components/tooltip';
@import 'components/rating';
@import 'components/dropdown';
@import 'components/select';
@import 'components/modal';
@import 'components/card';
@import 'components/utility';
